body {
  margin: 0 auto;
  padding: 0;
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
  background-color: #ECF0F1;
  color: #232323;
}

.splash{
  height: 500px;
  width: 100%;
  background-image: url('kitsanoo-65241.jpg');
  background-size: cover;
  background-position: center;
  text-align: left;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 55px;
  margin-top: 0;
  padding: 150px;
  padding-bottom: 0;
  margin-bottom: 0;
  text-shadow: white 1px 1px 8px, white 1px 1px 8px;
}

h2{
  font-size: 30px;
  font-weight: 500;
  padding: 200px;
  padding-top: 2px;
  text-shadow: white 1px 1px 8px, white 1px 1px 8px;
}

.post{
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}

.authorimage{
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color:#BEC3C7;

}
.commentBox {
  border: 1px solid #BEC3C7;
  background-color: white;
  margin-left: 4%;
  flex-basis: 100%;
  padding: 5px;
  text-align: left;

}

.commentBox p {
  margin: 0;
}

.authorbox {
  color: #FF8029;
  text-align: center;
}

button {
  padding: 8px;
  font-size: 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #00BC9C;
  border: 1px solid #00BC9C;
  /*width: 80px;*/
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 6%;
  margin-top: 6%;

}

.author-input {
  font-size: 20px;
  border: 1px solid #BEC3C7;
  padding: 5px;
}

.comment-box {
  font-size: 20px;
  margin-top: 1%;
  border: 1px solid #BEC3C7;
  padding: 5px;
  height: 150px;
}

.submit-button {
  font-size: 20px;
  border-radius: 5px;
  margin-top: 1%;
  background-color: #00BC9C;
  border: 1px solid #00BC9C;
}


/*Colors
#00BC9C - accent/button color
#ECF0F1 - backround color
#BEC3C7 - dark gray
#FF8029 - accent color
#232323 - text
*/

/*FONTS
font-family: 'Fontdiner Swanky', cursive;
font-family: 'Roboto', sans-serif;*/
