body {
  margin: 0 auto;
  padding: 0;
  line-height: 1.4;
  font-family: "Raleway", sans-serif;
  background-color: #ecf0f1;
  color: #232323;
}

.splash {
  height: 300px;
  width: 100%;
  background-image: url("kitsanoo-65241.jpg");
  background-size: cover;
  background-position: center;
  text-align: left;
}

h1 {
  font-family: "Lobster", cursive;
  text-align: center;
  vertical-align: center;
  margin-top: 0;
  padding: 100px 0px 0px 0px;
  margin-bottom: 0;
  text-shadow: white 1px 1px 8px, white 1px 1px 8px;
}

h2 {
  text-align: center;
  vertical-align: center;
  margin-top: 0;
  font-weight: 500;
  padding: 50px;
  padding-top: 2px;
  text-shadow: white 1px 1px 8px, white 1px 1px 8px;
}

.post {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.authorimage {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #bec3c7;
}
.commentBox {
  border: 1px solid #bec3c7;
  background-color: white;
  margin-left: 4%;
  flex-basis: 100%;
  padding: 5px;
  text-align: left;
  height: 130px;

}

.commentarea{
  flex-basis: 100%;
}

.commentBox p {
  margin: 0;
}

.authorbox {
  color: #ff8029;
  text-align: center;
}

button {
  padding: 10px;
  font-size: 14px;
  background-color: #00bc9c;
  border: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

button:hover {
  background-color: #00927A;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 6%;
  margin-top: 6%;
}

.author-input {
  border: 1px solid #bec3c7;
  padding: 5px;
}

.comment-box {
  margin-top: 1%;
  border: 1px solid #bec3c7;
  padding: 5px;
  height: 150px;
}

.submit-button {
  border-radius: 5px;
  margin-top: 1%;
  background-color: #00bc9c;
  border: 1px solid #00bc9c;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 55px;
    padding-top: 200px;
  }

  h2 {
    font-size: 30px;
  }

  .splash {
    height: 500px;
  }

  .post {
    margin-left: 20%;
    margin-right: 20%;
  }

  form {
    margin-left: 20%;
    margin-right: 20%;
  }
  .author-input {
    font-size: 20px;
  }
  .submit-button {
    font-size: 20px;
  }

  .comment-box {
    font-size: 20px;
  }
}

/*Colors
#00BC9C - accent/button color
#ECF0F1 - backround color
#BEC3C7 - dark gray
#FF8029 - accent color
#232323 - text
*/

/*FONTS
font-family: 'Fontdiner Swanky', cursive;
font-family: 'Roboto', sans-serif;*/
